[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/shundroid/hexo-theme-landscape.git
[submodule "themes/igem-2021"]
	path = themes/igem-2021
	url = https://github.com/iGEM-UTokyo/hexo-theme-igem-2021.git
