section#index-main-section.index-section.rellax(data-rellax-speed="-5")
  svg.index-back#index-back-0(viewBox="0 0 1440 702" xmlns="http://www.w3.org/2000/svg" fill="#1E88A888" preserveAspectRatio="none")
  #index-main-section-content
    h1 #{theme.top_page.project_name}
    h3 #{theme.top_page.project_description}
    a(href="/")
      | Go to Description&nbsp;
      i.fas.fa-angle-right
- for (let [i, sec] of theme.top_page.sections.entries())
  section(
    class=`index-section index-normal-section index-section-${i % 2 === 0 ? 'even' : 'odd'}`
  )
    case i
      when 0
        svg.index-back#index-back-1(viewBox="0 702 1440 600" xmlns="http://www.w3.org/2000/svg" fill="rgba(255, 255, 245, 0.5)" preserveAspectRatio="none")
        img#kingyo(src="/assets/theme/img/kingyo.svg" width="106" height="142")
      when 1
        svg.index-back#index-back-2(viewBox="0 1302 1440 600" xmlns="http://www.w3.org/2000/svg" fill="rgba(174, 229, 248, 0.5)" preserveAspectRatio="none")
    .image-temp
    .index-sec-separator
    .index-sec-content
      h2 #{sec.title}
      = sec.description
script(src="/js/rellax.min.js")
if isWiki()
  script(src="/js/home.js")
else
  != js('js/home')
