.contents-wrapper
  .eyecatch Eyecatch Image
  .article-wrapper
    .page-navigation
      != toc(page.content)
    article.post
      != partial('_partial/article', { post: page })
!= js('js/submenu.js')
