.contents-wrapper
  .eyecatch それっぽい画像あったら、入れると目立っていいかなと思った...
  .article-wrapper
    .page-navigation
      != toc(page.content)
    article.post
      != partial('_partial/article', { post: page })
!= js('js/submenu.js')