<footer>
  <div id="footer-inner">
    <img src="https://2021.igem.org/wiki/images/3/36/T--UTokyo--logo.svg" height="160" />
    <h3>Contacts</h3>
    <div id="footer-contacts-content">
      <i class="fas fa-envelope"></i>igem.utokyo2020@gmail.com<br />
      <i class="fab fa-twitter"></i>@iGEM_UTokyo
    </div>
  </div>
  <div id="sponsors">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="footer-copyright">
    &copy; 2021 iGEM UTokyo
  </div>
</footer>
