footer
  #footer-inner
    img(src="https://2021.igem.org/wiki/images/3/36/T--UTokyo--logo.svg" height="160")
    h3 Contacts
    #footer-contacts-content
      i.fas.fa-envelope
      | igem.utokyo2020@gmail.com
      br
      i.fab.fa-twitter
      | @iGEM_UTokyo
  #sponsors
    div
    div
    div
    div
    div
    div
  #footer-copyright &copy; 2021 iGEM UTokyo
