<footer>
  <div id="footer-inner">
    <img src="https://2021.igem.org/wiki/images/3/36/T--UTokyo--logo.svg" height="160" />
    <h3>Contacts</h3>
  </div>
  フッター(準備中)<br />今日の進捗は少ないです、ごめんなさい
</footer>
