header
  h2
    if (isWiki())
      a(href="/Team:UTokyo") #{config.title}
    else
      a(href="/") #{config.title}
  nav#header-nav
    - for (let i in theme.menu)
      a(href=theme.menu[i]) #{i}
