header-height = 52px
igem-menu-height = 18px
eyecatch-height = 320px
@font-face
  font-family FontAwesome
  font-style normal
  font-weight normal
  src url("https://2021.igem.org/wiki/images/b/bf/T--UTokyo--fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("https://2021.igem.org/wiki/images/0/01/T--UTokyo--fontawesome-webfont.woff?v=4.7.0") format("woff"), url("https://2021.igem.org/wiki/images/b/bc/T--UTokyo--fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("https://2021.igem.org/wiki/images/3/36/T--UTokyo--fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg")

.fa
  font-family FontAwesome

body
  margin 0

#bodyContent
  font-size 16px
  line-height normal
  h1
    padding 0
    margin 39.84px 0
    overflow visible
  h2
    padding 0
    margin 0.83em 0
    overflow visible
  h3
    padding 0
    margin 1em 0
    overflow visible
  a
    color #1e88a8
    text-decoration underline
    &:hover
      text-decoration underline
    &:focus
      text-decoration underline
  p
    font-family inherit
    font-size inherit
    margin 1em 0
    line-height 32px
  code
    color #5D5FEF
    font-family 'Roboto Mono'
    border none
    background-color #E5E5E5
    border-radius 3px
    font-size 16px
  #toc, .toc
    border none
    background-color inherit
    font-size inherit

#bodyContent header
  position fixed
  top igem-menu-height
  left 0
  z-index 2
  width 100%
  height header-height
  background rgba(255, 255, 255, 0.8)
  box-shadow 0px 1px 4px rgba(186, 186, 186, 0.25)
  backdrop-filter blur(4px)
  /* Note: backdrop-filter has minimal browser support */
  display flex
  flex-direction row
  align-items center
  @media (max-width 767px)
    justify-content center

  a
    color black
    text-decoration none

  h2
    margin 0
    padding 0
    margin-left 12.5%
    font-family Roboto
    font-style normal
    font-weight 500
    font-size 18px
    line-height header-height
    @media (max-width 767px)
      margin 0


  nav.header-nav-pc
    flex 1
    display flex
    flex-direction row
    justify-content flex-end
    margin-right 12.5%
    font-family Roboto
    height 100%
    @media (max-width 767px)
      display none
    a
      margin-left 50px
    li
      list-style none
    ul
      margin 0px
    .menu
      position relative
      margin 0px
      height header-height
      text-align center
      a, span   
        padding 0px 15px
        margin 0px
        display block
        height 100%
        line-height header-height
        position relative
        transition all 0.4s 0s ease
      a:hover,span:hover
        background-color #ffc9d7
      span:hover .submenu li
        overflow visible
        a
          line-height 1.5
          padding-top 15px
          padding-bottom 15px
          opacity 1
    .submenu
      position absolute
      left 0px
      li
        position relative
        transition .6s
        display list-item
        margin-bottom 0px
        overflow hidden
        a
          background-color rgba(255,255,255,1.0)
          line-height 0
          height auto
          opacity 0
  nav.header-nav-mobile
    display none
    margin-right 12.5%
    flex-direction column
    justify-content center
    position absolute
    top 0
    right 0
    height header-height
    @media (max-width 767px)
      display flex
    svg
      cursor pointer
    span
      display none
    span.active
      display block

  .header-menu
    position absolute
    left 0
    top header-height
    width 100%
    background-color rgba(255,255,255,0.8)
    font-family Roboto
    max-height 0
    overflow hidden
    transition max-height .5s ease 0s
    @media (max-width 767px)
      &.header-menu-active
        max-height 50vh
    a
      display block
      height 44px
      line-height 24px
      margin 0 40px
      padding 10px
      box-sizing border-box
      border-top 1px solid #C4C4C4
      &:first-child
        border none


index-main-section-height = 650px
#index-main-section
  padding-top header-height
  background-color #FFFFF5
  height index-main-section-height
  text-align center
  display flex // なんか文字をsvgの前に表示するのに必要。謎
  .index-back-img
    position absolute
    height auto
    z-index -1
  .index-fore-img
    position absolute
    display flex
    height auto

  #index-main-section-content
    width 100%
    height 100%
    z-index 1
    h1
      font-family Roboto
      font-style normal
      font-weight 500
      font-size 72px
      margin-top 203px
      margin-bottom 20px

    h3
      width 41%
      font-family Roboto
      font-style normal
      font-weight 300
      font-size 24px
      margin: 0 auto

    a
      display inline-block
      font-family Roboto
      color black
      text-decoration none
      padding 10px 15px
      background-color #99C1C1
      border-radius 6px
      margin-top 20px
      :hover
        color black
        text-decoration none
  svg.index-back
    height index-main-section-height + header-height

index-normal-section-height = 600px
.index-section
  position relative
  background-image url('https://2021.igem.org/wiki/images/thumb/f/f1/T--UTokyo--washi.png/800px-T--UTokyo--washi.png')
  background-size cover
  svg.index-back
    position absolute
    top 0
    left 0
    width 100%
    height index-normal-section-height

.index-normal-section
  height index-normal-section-height
  font-family Roboto
  display flex
  flex-direction row
  padding 60px 12.5vw
  box-sizing border-box
  overflow hidden

  .index-sec-image
    flex 1
  .index-sec-image-3
    height index-normal-section-height + 200px
    transform translateY(-500px)

  .index-sec-content
    flex 1
    font-size 18px
    line-height 30px
    z-index 1

.index-section-odd
  background-color #F2FFFF
  flex-direction row-reverse

.index-section-even
  background-color #FFFFF7

.index-sec-separator
  width 120px

#kingyo
  position absolute
  top 421px
  left (74 / 1440 * 100)vw
  width (106 / 1440 * 100)vw
  height auto

// generalなhxとして
#bodyContent h1
  font-family Roboto
  font-style normal
  font-weight 500
  font-size 48px

#bodyContent h2
  font-family Roboto
  font-style normal
  font-weight 600
  font-size 36px
  line-height 42px

#bodyContent h3
  font-family Roboto
  font-style normal
  font-weight 500
  font-size 24px

footer
  background-color #C4C4C4
  height 520px
  padding 0 12.5vw
  box-sizing border-box
  font-family Roboto

  #footer-inner
    height 240px
    padding 40px 0
    box-sizing border-box
    img
      float left
    h3
      margin-top 0
      margin-bottom 57px
    svg
      margin-right 10px
    #footer-contacts-content
      font-style normal
      font-weight 300
      font-size 18px
      line-height 30px

  #sponsors
    clear both
    display flex
    height 160px
    margin 40px 0
    gap 24px
    div
      flex 1
      background-color #E5E5E5

  #footer-copyright
    font-size 12px
    height 40px
    line-height 40px

#bodyContent .contents-wrapper
  margin 90px 12.5vw
  display block
  vertical-align top
  font-family Roboto //Lato
  font-size 18px
  font-weight 300
  line-height 30px

  .article-wrapper
    position relative
  .page-navigation
    z-index 0
    top 0
    width 280px
    position absolute
    margin-right 40px
    margin-top 20px
    .toc-number
      display none
    ol
      margin 0
      padding 0
      list-style-type none
    .toc-child
      margin-left 8px
      li
        margin-top 14px
    a
      color black
      text-decoration none
      font-family Roboto
  .eyecatch
    height eyecatch-height
    width 100%
    background-color #E5E5E5
    text-align center
    line-height 320px
  article.post
    margin-left 320px
  article.page
    width 100%
    .eyecatch
      height 360px
      background-color #E5E5E5
      text-align center
      line-height 320px

#bodyContent .gallery
  font-family Roboto
  display flex
  gap 60px
  flex-wrap wrap
  justify-content center
  p
    margin 0
  img
    width 240px
    height auto
  h3
    margin-top 11px
    margin-bottom 10px
  .profile-bio
    font-size 14px
  .profile-voice
    margin-top 10px
    font-size 12px
    line-height 24px
